In [1]:
import pandas as pd

df = pd.read_csv("cardio_base.csv")

In [2]:
df['age_years'] = df['age'] // 365

In [3]:
avg_weight_by_age = df.groupby('age_years')['weight'].mean()

In [4]:
max_weight_age = avg_weight_by_age.idxmax()
min_weight_age = avg_weight_by_age.idxmin()

In [5]:
max_avg_weight = avg_weight_by_age[max_weight_age]
min_avg_weight = avg_weight_by_age[min_weight_age]

percentage_difference = ((max_avg_weight - min_avg_weight) / min_avg_weight) * 100

In [6]:
print(f"The age group with the highest average weight is {max_weight_age} years.")
print(f"The age group with the lowest average weight is {min_weight_age} years.")
print(f"The weight difference is approximately {percentage_difference:.2f}%.")

The age group with the highest average weight is 63 years.
The age group with the lowest average weight is 30 years.
The weight difference is approximately 28.60%.

In [7]:
over_50 = df[df['age_years'] > 50]
under_50 = df[df['age_years'] <= 50]

In [8]:
avg_cholesterol_over_50 = over_50['cholesterol'].mean()
avg_cholesterol_under_50 = under_50['cholesterol'].mean()

In [9]:
print(f"The average cholesterol level for people over 50 is {avg_cholesterol_over_50:.2f}.")
print(f"The average cholesterol level for people under 50 is {avg_cholesterol_under_50:.2f}.")

if avg_cholesterol_over_50 > avg_cholesterol_under_50:
    print("People over 50 have higher cholesterol levels.")
else:
    print("There is no significant difference in cholesterol levels between the two age groups.")

The average cholesterol level for people over 50 is 1.43.
The average cholesterol level for people under 50 is 1.25.
People over 50 have higher cholesterol levels.

In [10]:

avg_cholesterol_over_50 = df[df['age_years'] > 50]['cholesterol'].mean()
avg_cholesterol_under_50 = df[df['age_years'] <= 50]['cholesterol'].mean()

percentage_difference = ((avg_cholesterol_over_50 - avg_cholesterol_under_50) / avg_cholesterol_under_50) * 100

print(f"The average cholesterol level for people over 50 is {avg_cholesterol_over_50:.2f}.")
print(f"The average cholesterol level for people under 50 is {avg_cholesterol_under_50:.2f}.")

if percentage_difference > 0:
    print(f"People over 50 have higher cholesterol levels.")
    print(f"Yes, their cholesterol level is {abs(percentage_difference):.0f}% higher on average.")
else:
    print("No, it's about the same.")

The average cholesterol level for people over 50 is 1.43.
The average cholesterol level for people under 50 is 1.25.
People over 50 have higher cholesterol levels.
Yes, their cholesterol level is 15% higher on average.

In [14]:
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke,age_years
0,0,18393,2,168,62.0,110,80,1,0,50
1,1,20228,1,156,85.0,140,90,3,0,55
2,2,18857,1,165,64.0,130,70,3,0,51
3,3,17623,2,169,82.0,150,100,1,0,48
4,4,17474,1,156,56.0,100,60,1,0,47
...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,52
69996,99995,22601,1,158,126.0,140,90,2,0,61
69997,99996,19066,2,183,105.0,180,90,3,0,52
69998,99998,22431,1,163,72.0,135,80,1,0,61
69999,99999,20540,1,170,72.0,120,80,2,0,56

In [15]:
smoking_column = 'smoke'

smoking_ratio_men = df[df['gender'] == 'male'][smoking_column].mean()
smoking_ratio_women = df[df['gender'] == 'female'][smoking_column].mean()

smoking_ratio = smoking_ratio_men / smoking_ratio_women

if smoking_ratio > 1:
    print(f"Yes, men are {smoking_ratio:.0f}x more likely to be smokers.")
elif smoking_ratio < 1:
    print(f"No, women are {1/smoking_ratio:.0f}x more likely to be smokers.")
else:
    print("Similar portions of men and women are smokers.")

Similar portions of men and women are smokers.

In [16]:

height_threshold = df['height'].quantile(0.99)

print(f"The tallest 1% of people are taller than {height_threshold:.2f}cm.")

The tallest 1% of people are taller than 184.00cm.

In [21]:
df.corr()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke,age_years
id,1.000000,0.003457,0.003502,-0.003038,-0.001830,0.003356,-0.002529,0.006106,-0.003699,0.003814
age,0.003457,1.000000,-0.022811,-0.081515,0.053684,0.020764,0.017647,0.154424,-0.047633,0.999091
gender,0.003502,-0.022811,1.000000,0.499033,0.155406,0.006005,0.015254,-0.035821,0.338135,-0.022913
height,-0.003038,-0.081515,0.499033,1.000000,0.290968,0.005488,0.006150,-0.050226,0.187989,-0.081506
weight,-0.001830,0.053684,0.155406,0.290968,1.000000,0.030702,0.043710,0.141768,0.067780,0.053561
ap_hi,0.003356,0.020764,0.006005,0.005488,0.030702,1.000000,0.016086,0.023778,-0.000922,0.020854
ap_lo,-0.002529,0.017647,0.015254,0.006150,0.043710,0.016086,1.000000,0.024019,0.005186,0.017620
cholesterol,0.006106,0.154424,-0.035821,-0.050226,0.141768,0.023778,0.024019,1.000000,0.010354,0.154012
smoke,-0.003699,-0.047633,0.338135,0.187989,0.067780,-0.000922,0.005186,0.010354,1.000000,-0.047649
age_years,0.003814,0.999091,-0.022913,-0.081506,0.053561,0.020854,0.017620,0.154012,-0.047649,1.000000

In [22]:
import pandas as pd


height_column = 'height'

mean_height = df[height_column].mean()
std_dev_height = df[height_column].std()

z_scores = (df[height_column] - mean_height) / std_dev_height

percentage_more_than_2_sd = (z_scores.abs() > 2).mean() * 100

print(f"The percentage of people more than 2 standard deviations away from the average height is approximately {percentage_more_than_2_sd:.2f}%.")

The percentage of people more than 2 standard deviations away from the average height is approximately 3.34%.

In [26]:
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,smoke,age_years
0,0,18393,2,168,62.0,110,80,1,0,50
1,1,20228,1,156,85.0,140,90,3,0,55
2,2,18857,1,165,64.0,130,70,3,0,51
3,3,17623,2,169,82.0,150,100,1,0,48
4,4,17474,1,156,56.0,100,60,1,0,47
...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,52
69996,99995,22601,1,158,126.0,140,90,2,0,61
69997,99996,19066,2,183,105.0,180,90,3,0,52
69998,99998,22431,1,163,72.0,135,80,1,0,61
69999,99999,20540,1,170,72.0,120,80,2,0,56

In [37]:
alco_df

       id;alco
0         44;0
1         45;0
2         46;0
3         47;0
4         49;0
...        ...
56898  99949;0
56899  99950;0
56900  99951;0
56901  99952;0
56902  99954;0

[56903 rows x 1 columns]

In [56]:
import pandas as pd

df_alco = pd.read_csv("cardio_alco.csv")

df['id'] = df['id'].astype(str)
df_alco['id'] = df_alco['id'].astype(str)

merged_df = pd.merge(df, df_alco, on='id', how='inner')

over_50_df = merged_df[merged_df['age_years'] > 50]

percentage_alcohol_consumers_over_50 = (over_50_df['alco'] == 1).mean() * 100

print(f"The percentage of the population over 50 years old that consumes alcohol is approximately {percentage_alcohol_consumers_over_50:.0f}%.")

The percentage of the population over 50 years old that consumes alcohol is approximately 5%.

In [61]:
import pandas as pd
from scipy.stats import ttest_ind

blood_pressure_men = df[df['gender'] == 'male']['cholesterol']
blood_pressure_women = df[df['gender'] == 'female']['smoke']

t_stat, p_value = ttest_ind(blood_pressure_men, blood_pressure_women, equal_var=False)

if p_value < 0.05:
    print("With 95% confidence, men have higher blood pressure than women.")
else:
    print("There is not enough evidence to conclude that men have higher blood pressure than women.")

There is not enough evidence to conclude that men have higher blood pressure than women.

In [65]:
import pandas as pd
df_covid19 = pd.read_csv("covid_data.csv")

italy_data = df_covid19[df_covid19['location'] == 'Italy']
germany_data = df_covid19[df_covid19['location'] == 'Germany']

merged_data = pd.merge(italy_data, germany_data, on='date', suffixes=('_Italy', '_Germany'))

merged_data['daily_difference'] = merged_data['new_cases_Italy'] - merged_data['new_cases_Germany']

first_date_over_10k = merged_data.loc[merged_data['daily_difference'] > 10000, 'date'].min()

print(f"The difference in confirmed cases between Italy and Germany became more than 10,000 on {first_date_over_10k}.")

The difference in confirmed cases between Italy and Germany became more than 10,000 on nan.

In [67]:
import pandas as pd
df_covid19 = pd.read_csv("covid_data.csv")

italy_data = df_covid19[df_covid19['location'] == 'Italy']
germany_data = df_covid19[df_covid19['location'] == 'Germany']

merged_data = pd.merge(italy_data, germany_data, on='date', suffixes=('_Italy', '_Germany'))

merged_data['daily_difference'] = merged_data['new_cases_Italy'] - merged_data['new_cases_Germany']

filtered_data = merged_data[merged_data['daily_difference'] > 10000]
first_date_over_10k = filtered_data['date'].min()

if pd.notna(first_date_over_10k):
    formatted_date = pd.to_datetime(first_date_over_10k).strftime('%Y-%m-%d')
    print(f"The difference in confirmed cases between Italy and Germany became more than 10,000 on {formatted_date}.")
else:
    print("The difference did not become more than 10,000.")

The difference did not become more than 10,000.

In [69]:
import pandas as pd
import numpy as np
from scipy.optimize import curve_fit

df_covid19 = pd.read_csv("covid_data.csv")

italy_data = df_covid19[(df_covid19['location'] == 'Italy') & (df_covid19['date'] >= '2020-02-28') & (df_covid19['date'] <= '2020-03-20')]

def exponential_growth(x, A, B):
    return A * np.exp(B * x)

italy_data['days_since_start'] = (pd.to_datetime(italy_data['date']) - pd.to_datetime('2020-02-28')).dt.days

params, covariance = curve_fit(exponential_growth, italy_data['days_since_start'], italy_data['new_cases'])

italy_data['predicted_cumulative_cases'] = italy_data['days_since_start'].apply(lambda x: exponential_growth(x, *params)).cumsum()

predicted_total_cases_on_2020_03_20 = italy_data.loc[italy_data['date'] == '2020-03-20', 'predicted_cumulative_cases'].values[0]

real_total_cases_on_2020_03_20 = italy_data.loc[italy_data['date'] == '2020-03-20', 'new_cases'].cumsum().values[0]

difference = abs(predicted_total_cases_on_2020_03_20 - real_total_cases_on_2020_03_20)

<ipython-input-69-69b5c24947fc>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  italy_data['days_since_start'] = (pd.to_datetime(italy_data['date']) - pd.to_datetime('2020-02-28')).dt.days

The difference between the predicted cumulative cases and the total number of real cases on 2020-03-20 is approximately 36000.

<ipython-input-69-69b5c24947fc>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  italy_data['predicted_cumulative_cases'] = italy_data['days_since_start'].apply(lambda x: exponential_growth(x, *params)).cumsum()

In [70]:
print(f"The difference between the predicted cumulative cases and the total number of real cases on 2020-03-20 is approximately {difference:.0f}.")

The difference between the predicted cumulative cases and the total number of real cases on 2020-03-20 is approximately 36000.

In [71]:
import pandas as pd
df_covid19 = pd.read_csv("covid_data.csv")

df_covid19['death_rate_per_million'] = (df_covid19['new_deaths'] / df_covid19['population']) * 1_000_000

total_death_rate = df_covid19.groupby('location')['death_rate_per_million'].sum()

sorted_countries = total_death_rate.sort_values(ascending=False)

third_highest_country = sorted_countries.index[2]

print(f"The country with the 3rd highest death rate is: {third_highest_country}.")

The country with the 3rd highest death rate is: Andorra.

In [74]:
import pandas as pd
from sklearn.metrics import f1_score

df_covid19 = pd.read_csv("covid_data.csv")

df_covid19['positive_condition'] = (df_covid19['aged_65_older_percent'] > 20) & (df_covid19['new_deaths'] > 50)
df_covid19['negative_condition'] = ~df_covid19['positive_condition']

df_covid19['missing_info'] = df_covid19[['aged_65_older_percent', 'new_deaths', 'population']].isnull().any(axis=1)

df_covid19 = df_covid19[~df_covid19['missing_info']]

true_labels = df_covid19['positive_condition']
predicted_labels = df_covid19['negative_condition']  # Assuming we predict all countries as negative for simplicity

f1 = f1_score(true_labels, predicted_labels)

print(f"The F1 score for the given statement is: {f1:.2f}")

The F1 score for the given statement is: 0.00

In [77]:
import pandas as pd

df = pd.read_csv("covid_data.csv")

print("Available columns:", df.columns)

if 'gdp_per_capita' in df.columns and 'hospital_beds_per_thousand' in df.columns:
    prob_A_and_B = ((df['gdp_per_capita'] > 10000) & (df['hospital_beds_per_thousand'] >= 5)).mean()

    prob_B = (df['hospital_beds_per_thousand'] >= 5).mean()

    prob_A_given_B = prob_A_and_B / prob_B

    print(f"The probability that a country has GDP over $10,000 given at least 5 hospital beds per 1000 inhabitants is: {prob_A_given_B:.2%}")
else:
    print("Necessary columns are not present in the dataset.")

Available columns: Index(['location', 'date', 'new_cases', 'new_deaths', 'population',
       'aged_65_older_percent', 'gdp_per_capita',
       'hospital_beds_per_thousand'],
      dtype='object')
The probability that a country has GDP over $10,000 given at least 5 hospital beds per 1000 inhabitants is: 85.65%